
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@font-face {
  font-family: "Quizlo";
  src: url("../assets/fonts/Quizlo-DEMO-BF68b930ec7eb9d.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

:root {
  --bg-color: #FFFBEF;
  --accent-color: #217868;
  --text-color: #303030;
  --font-main: "Poppins", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100dvh;
  width: 100%;
  font-size: 16px;
  color: var(--text-color);
  font-family: var(--font-main);
  font-weight: 600;
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

header {
  background-color: var(--accent-color);
  width: 100%;
  height: 15vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 1rem;
}

h1 {
  font-family: "Quizlo", sans-serif;
  font-weight: 400;
  color: var(--bg-color);
  font-size: 3rem;
}

main {
  min-height: 75dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer {
  background-color: var(--accent-color);
  color: var(--text-color);
  width: 100%;
  height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  gap: 10px;
  font-size: 1rem;
}

footer a {
  position: relative;
  color: var(--bg-color);
  display: inline-block;
  text-decoration: none;
  transition: all 1.3s ease-out;
}

footer a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0%;
  height: 2px;
  background: currentColor;
  transition: width 0.5s ease;
}

footer a:hover::after {
  width: 100%;
}


footer p {
  width: 20%;
}